/* Roboto font */

@font-face {
    font-family: "Roboto";
    src: url('../fonts/roboto/Roboto-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-bold";
    src: url('../fonts/roboto/Roboto-Bold.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-light";
    src: url('../fonts/roboto/Roboto-Light.ttf');
    font-weight: normal;
}

/* Miller material */

.miller-col-list-item .list-item-text {
    font-family: "Roboto-light", sans-serif;
}

.miller-col-title-text {
    font-family: "Roboto-bold", sans-serif;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 700;
    letter-spacing: 1px;
}

.material-icons {
    color: #bbb;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    transition: 300ms;
}

.miller-col-nav .material-icons {
    font-size: 2.85em;
}

/* fallback */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/material-icons.woff2) format('woff2'), url(fonts/MaterialIcons-Regular.woff) format('woff'), url(fonts/MaterialIcons-Regular.ttf) format('truetype'), url(fonts/MaterialIcons-Regular.svg), url(fonts/MaterialIcons-Regular.eot);
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
